/* Réinitialisation du navigateur */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Styles généraux */
body {
  font-family: 'Lato', sans-serif;
  color: #1b1b1b;
}


/* ============================== GRID ============================== */
.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1.9fr;
  grid-auto-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  height: 100%;
}

/* Espace de jeux général */
.ground-1 {
  grid-area: 1 / 1 / 2 / 2;
}

.ground-2 {
  grid-area: 1 / 2 / 2 / 3;
}

.game-area {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.4fr 1.2fr 1.4fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    ". new-game ."
    "game-1 dice game-2"
    "current-1 options current-2";
  grid-area: 1 / 1 / 2 / 3;
  place-content: center;
  padding: 70px;
}

/* Nouveau jeu */
.new-game {
  grid-area: new-game;
  justify-self: center;
  padding: 20px;
}

/* Icone nouveau jeu */
.icone-plus {
  float: left;
  margin-right: 10px;
  width: 25px;
  height: 25px;
}

/* Dé */
.dice {
  grid-area: dice;
  justify-self: center;
  align-self: end;
}

.dice img {
  width: 110px;
  height: 110px;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


/* Options de jeu */
.options {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "roll-dice"
    "hold";
  grid-area: options;
  margin-top: 150px;
  justify-content: center;
  align-items: end;
}

.roll-dice {
  grid-area: roll-dice;
  justify-self: center;
  align-self: end;
  padding-bottom: 15px;
}

/* Icone lancer le dé */
.icone-rotate {
  float: left;
  margin-right: 10px;
  width: 25px;
  height: 25px;
}

.hold {
  grid-area: hold;
  justify-self: center;
  align-self: start;
  padding-top: 15px;
}

/* Icone hold */
.icone-hold {
  float: left;
  margin-right: 10px;
  width: 20px;
  height: 20px;
}

/* Espace joueur 1 */
.game-1 {
  grid-template-areas:
    "player-1"
    "score-1";
  grid-area: game-1;
}

.player-1 {
  grid-area: player-1;
  justify-self: center;
}

#playerPoint1 {
  width: 10px;
  height: 10px;
  background-color: #eb4d4c;
  border-radius: 50%;
}

.score-1 {
  grid-area: score-1;
  justify-self: center;
}

/* Espace joueur 2 */
.game-2 {
  grid-template-areas:
    "player-2"
    "score-2";
  grid-area: game-2;
}

.player-2 {
  grid-area: player-2;
  justify-self: center;
}

#playerPoint2 {
  align-self: center;
  width: 10px;
  height: 10px;
  background-color: #eb4d4c;
  border-radius: 50%;
}

.score-2 {
  grid-area: score-2;
  justify-self: center;
}

/* Score joueur 1 */
.current-1 {
  grid-template-areas:
    "current-title-1"
    "current-score-1";
  grid-area: current-1;
}

.current-title-1 {
  grid-area: current-title-1;
}

.current-score-1 {
  grid-area: current-score-1;
}


/* Score joueur 2 */
.current-2 {
  grid-template-areas:
    "current-title-2"
    "current-score-2";
  grid-area: current-2;
}

.current-title-2 {
  grid-area: current-title-2;
}

.current-score-2 {
  grid-area: current-score-2;
}

/* =================== Modal =================== */

.modal {
  display: none;
  width: 500px;
  height: 250px;
  background: #fff;
  border-radius: 5px;
  margin: 80px auto;
  z-index: 1;
  overflow: hidden;
  transform: translateY(-300%);
  box-shadow: 0px 0px 20px rgba(56, 56, 56, .2);
  text-align: center;
  line-height: 7em;
  font-size: 2em;
  position: relative;
  right: -50%;
  top: 25%;
  transition: all 900ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.modal-open {
  display: block;
}

.modal .close {
  position: absolute;
  top: -90px;
  right: 25px;
  font-size: .9em;
  font-weight: lighter;
  cursor: pointer;
  color: #eb4d4c;
  transition: .5s;
}

/* =================== Config groupée =================== */

/* Colone centrale */
.new-game,
.roll-dice,
.hold {
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
}

/* Nom joueur */
.player-1,
.player-2 {
  font-size: 40px;
  font-weight: 400;
  margin-top: 40px;
}

.game-1,
.game-2 {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.7fr 1.3fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  justify-content: center;
}

/* Score joueur */
.score-1,
.score-2 {
  font-size: 90px;
  font-weight: 400;
  color: #eb4d4c;
}

/* Carré score courant */
.current-1,
.current-2 {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.7fr 1.3fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  background-color: #eb4d4c;
  align-self: center;
  margin-top: 150px;
  width: 120px;
  height: 80px;
  justify-self: center;
}

/* Titre carré score courant */
.current-title-1,
.current-title-2 {
  justify-self: center;
  color: #1b1b1b;
  font-size: 14px;
  font-weight: 600;
  padding-top: 10px
}

/* Score carré score courant */
.current-score-1,
.current-score-2 {
  justify-self: center;
  align-self: end;
  padding-bottom: 10px;
  color: white;
  font-size: 32px;
  font-weight: 700;
}